@font-face {
    font-family: Indivisible;
    src: url('../fonts/IndivisibleVariable.f64f7f53.woff2') format('woff2');
    font-weight: 100 1000;
}

@font-face {
    font-family: Pretendard;
    src: url('../fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 45 920;
}