.footer{
    background: $secondaryColor;
    .container{
        padding-bottom: calc(24px + 1vh);
        padding-top: calc(min(10.5vmin,160px) + 1vh);
        display: flex;
        flex-direction: column;
        .fade{
            opacity: .25;
        }
        .group-top{
            margin-top: 0.33em;
            padding-bottom: min(10.5vmin,132px);
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            color: $primaryColor;
            .text{
                font-size: clamp(1.333rem,5vw,1.778rem);
                line-height: 1.2;
                grid-column: 1/11;
            }
            .btn-reach{
                display: block;
                position: relative;
                color: #fff;
                grid-column: 16/-1;
                margin-right: auto;
                padding: 0 24px;
                height: 56px;
                

                .ic-left,
                .ic-right{                
                    &::after,
                    &::before{
                        width: 11px;
                        height: 11px;            
                        }
                }
                span{
                    display: block;
                    font-size: 1.111rem;
                    font-weight: 600;
                    line-height: 1;
                    transition: font-weight .5s cubic-bezier(.165,.84,.44,1);
                }

                &:hover{
                    span{
                        font-weight: 800;
                    }
                    
                    .ic-left{
                        &::before{
                            transform: rotate(0deg) translate(calc(11px*-1/3), calc(11px*-1/3));
                        }
                        &::after{
                            transform: rotate(-90deg) translate(calc(11px*-1/3), calc(11px*-1/3));
                        }
                    }
                    .ic-right{
                        &::before{
                            transform: rotate(90deg) translate(calc(11px*-1/3), calc(11px*-1/3));
                        }
                        &::after{
                            transform: rotate(180deg) translate(calc(11px*-1/3), calc(11px*-1/3));
                        }
                    }
                }
            }
        }
        .group-text{
            padding: min(6vw,40px) 0;
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            color: $primaryColor;
            .name{
                font-size: .722rem;
                margin-bottom: 8px;
                line-height: 1;
            }
            .text-wrap{
                grid-column: 1/7;
                .name{
                    font-size: .722rem;
                    margin-bottom: 8px;
                    line-height: 1;
                }
                .text{
                    font-size: .778rem;
                    line-height: 1.2;
                }
            }
            .sns-wrap{
                grid-column: 16/-1;
                display: flex;
                justify-content: space-between;
                .name{
                    margin-bottom: 0;
                }
                .sns-list{
                    display: flex;
                    li{
                        a{
                            padding: 0 12px;
                            display: block;
                            svg{
                                
                                height: 20px;
                                width: auto;
                                path{
                                    fill: $primaryColor;
                                }
                            }
                        }
                    }
                }
            }
            
        }
        .group-logo{
            display: flex;
            justify-content: center;
            svg{
                color: $primaryColor;
                // grid-column: 1/-1;
                margin-top: auto;
                width: 50%;
                height: auto;
                perspective: 400px;
                .letter{
                    stroke-width: 0px;
                    stroke: transparent;
                    fill: currentColor;
                    transform-box: fill-box;
                    transform-origin: 50% 50%;
                    transform-style: preserve-3d;
                    transition-duration: 1.2s;
                    transition-property: fill,stroke,stroke-width,transform;
                    transition-timing-function: cubic-bezier(.76,0,.24,1);
                    &.rotate{
                        fill: transparent;
                        stroke-width: 4px;
                        stroke: currentColor;
                        transform: rotateY(-180deg);
                        transition-duration: .3s;
                        transition-timing-function: ease-out;
                        pointer-events: none;
                    }
                }
            }
        }
        .group-copy{
            font-size: .722rem;
            margin-top: 20px;

            color: $primaryColor;
            display: flex;
            font-weight: 700;
            justify-content: space-between;
            line-height: 1;
            text-transform: uppercase;
            .copy{
                a{
                    background: linear-gradient(90deg,currentColor,currentColor) no-repeat;
                    background-position: 100% 100%;
                    background-size: 100% 1px;
                    display: inline-block;
                }
            }
        }
    }
}