.wrapper{
    min-width: 1440px;
}
.header{
    position: fixed;
    top: 24px;
    left: 24px;
    right: 24px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    .logo{
        visibility: hidden;
        a{
            display: block;
            width: clamp(36px,4.5vw,64px);
            svg{
                width: 80%;
                height: auto;
                color: $secondaryColor;
                transition: color .25s ease;
            }
        }
        &.ani{
            svg{
                .logo-top{
                    stroke-dashoffset: 20;
                    stroke-dasharray: 20;
                    animation: headerTop 1250ms cubic-bezier(.165,.84,.44,1) forwards paused;
                }
                .logo-bottom{
                    stroke-dashoffset: 20;
                    stroke-dasharray: 20;
                    animation: headerBottom 1250ms cubic-bezier(.165,.84,.44,1) forwards paused;
                }
            }
        }

        &.draw{
            svg{
                // color:#ffda4f;
                .logo-top{
                    stroke-dashoffset: 20;
                    stroke-dasharray: 20;
                    animation: headerHoverTop 1.75s cubic-bezier(.165,.84,.44,1);
                }
                .logo-bottom{
                    stroke-dashoffset: 20;
                    stroke-dasharray: 20;
                    animation: headerHoverBottom 1.75s cubic-bezier(.165,.84,.44,1);
                }
            }
        }
    }
    .btn-area{
        display: flex;
        gap: 16px;
        .btn-basket{
            transform: translateY(calc(-100% - 27px));
            transition: transform 1s cubic-bezier(.165,.84,.44,1);
            padding-left: 12px;
            padding-right: 12px;
            &.on{
                transform: translateY(0);
            }
        }
        .btn-shop,
        .btn-contact{
            animation: btnShow 1250ms cubic-bezier(.165,.84,.44,1) forwards paused;
            padding-left: 8px;
            padding-right: 8px;
        }
        [class*="btn-"]{
            position: relative;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            height: 24px;
            line-height: 1;
            .ic-contact,
            .ic-shop{
                color: inherit;
                display: block;
                height: auto;
                left: 50%;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                top: 50%;
                transform: translate(-50%,-100%);
                transform-origin: 50% 50%;
                transition-duration: .5s,.3s;
                transition-property: transform,opacity;
                transition-timing-function: cubic-bezier(.165,.84,.44,1);
            }
            .name{
                overflow: hidden;
                display: flex;
                transition: font-weight .5s cubic-bezier(.165,.84,.44,1);
                span{
                    transition: transform .5s cubic-bezier(.165,.84,.44,1);
                    
                }
            }

            &:hover{
                .name{
                    font-weight: 800;
                    span{
                        transform: translateY(100%);
                        
                    }
                }
                
                .ic-contact,
                .ic-shop{
                    opacity: 1;
                    transform: translate(-50%, -50%);
                    transition-delay: .1s;
                }
                
                .ic-left{
                    &::before{
                        transform: rotate(0deg) translate(calc(7px*-1/3), calc(7px*-1/3));
                    }
                    &::after{
                        transform: rotate(-90deg) translate(calc(7px*-1/3), calc(7px*-1/3));
                    }
                }
                .ic-right{
                    &::before{
                        transform: rotate(90deg) translate(calc(7px*-1/3), calc(7px*-1/3));
                    }
                    &::after{
                        transform: rotate(180deg) translate(calc(7px*-1/3), calc(7px*-1/3));
                    }
                }

            }
        }
    }
}


@keyframes headerTop {
    0% {
        stroke-dashoffset: 20
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes headerBottom {
    0% {
        stroke-dashoffset: 20
    }

    to {
        stroke-dashoffset: 40
    }
}

@keyframes headerHoverTop {
    0%,to {
        stroke-dashoffset: 0
    }

    50% {
        stroke-dashoffset: 20
    }
}

@keyframes headerHoverBottom {
    0%,to {
        stroke-dashoffset: 40
    }

    50% {
        stroke-dashoffset: 20
    }
}

@keyframes btnShow{
    0% {
        transform: translateY(-215%)
    }

    to {
        transform: translateY(0)
    }
}